{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block header_text %}
{% endblock header_text %}

{% block header_poster %}
{% endblock header_poster %}


{% block main %}
<main>
    <div class="container d-flex justify-content-around">
        <div class="login">
            <h2 class="form-title">Accoundga kirish</h2>
            <form action="" method="post" class="login-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ login_form.username }}
                </div>
                <div class="form-group mt-2">
                    {{ login_form.password }}
                </div>
                <button class="btn btn-primary" type="submit">Kirish</button>
            </form>
        </div>
        <div class="registration">
            <h2 class="form-title">Accoundga kirish</h2>
            <form action="" method="post" class="login-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ registration_form.username }}
                </div>
                <div class="form-group">
                    {{ registration_form.email }}
                </div>
                <div class="form-group">
                    {{ registration_form.password1 }}
                </div>
                <div class="form-group">
                    {{ registration_form.password2 }}
                </div>
                <button class="btn btn-primary">Kirish</button>
            </form>
        </div>
    </div>
</main>
{% endblock main %}